
table.standings th,
table.standings td {
    border: 1px solid white;
    text-align: center;
}

span.tooltip {
    border-bottom: 2px dotted white;
    position: relative;
    user-select: none;
}

span.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    bottom: 200%;
    left: 50%;
    width: 100px;
    text-align: center;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden;
}

span.tooltip::after,
span.tooltip::after {
    width: 125px;
}

span.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}


div.ss-values {
    height: 42px;
    font-size: 14px;
}

table#boxscore th,
table#pitchers th,
/* table#pitching-stats th, */
table#pitching-game-log th,
table#hitting-stats th,
table#hitting-game-log th {
    user-select: none;
}

table#boxscore tbody tr:nth-child(2n) {
    background-color: #2c323a;
}

table#boxscore colgroup col:nth-child(1) {
    width: 100px;
    max-width: 100px;
    word-break: break-all;
    white-space: pre-line;
}

table#boxscore colgroup col:nth-child(2) {
    width: 25px;
    max-width: 25px;
    word-break: break-all;
    white-space: pre-line;
}

table#boxscore colgroup col:nth-child(3) {
    width: 75px;
    max-width: 75px;
    word-break: break-all;
    white-space: pre-line;
}

table#boxscore colgroup col:nth-child(4),
table#boxscore colgroup col:nth-child(5),
table#boxscore colgroup col:nth-child(6),
table#boxscore colgroup col:nth-child(7),
table#boxscore colgroup col:nth-child(8),
table#boxscore colgroup col:nth-child(9),
table#boxscore colgroup col:nth-child(10) {
    width: 25px;
    max-width: 25px;
    word-break: break-all;
    white-space: pre-line;
}

table#boxscore colgroup col:nth-child(11),
table#boxscore colgroup col:nth-child(12) {
    width: 35px;
    max-width: 35px;
    word-break: break-all;
    white-space: pre-line;
}

table#pitchers tbody tr:nth-child(2n) {
    background-color: #2c323a;
}

table#pitchers colgroup col:nth-child(1) {
    width: 175px;
    max-width: 175px;
    word-break: break-all;
    white-space: pre-line;
}

table#pitchers colgroup col:nth-child(2) {
    width: 25px;
    max-width: 25px;
    word-break: break-all;
    white-space: pre-line;
}

table#pitchers colgroup col:nth-child(3),
table#pitchers colgroup col:nth-child(4),
table#pitchers colgroup col:nth-child(5),
table#pitchers colgroup col:nth-child(6),
table#pitchers colgroup col:nth-child(7),
table#pitchers colgroup col:nth-child(8),
table#pitchers colgroup col:nth-child(9),
table#pitchers colgroup col:nth-child(10) {
    width: 30px;
    max-width: 30px;
    word-break: break-all;
    white-space: pre-line;
}

table.pitches {
    width: 60% !important;
    float: right;
    border: none !important;
}

table.pitches thead {
    border-bottom: 2px solid white;
}

table.pitches th {
    text-align: left;
}

table.pitches td {
    padding: 3px;
}

table.pitches td:nth-child(4),
table.pitches td:nth-child(5) {
    text-align: center;
}

table.pitches td span.pitch-bold {
    font-weight: bold;
}

table.pitches div.pitch-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    text-align: center;
}


table#boxscore tr.selected-batter {
    background-color: #374bfb !important;
}

table#roster-dt thead th:first-child span {
    /* position: absolute; */
    margin-left: 75px;
}

img.roster-player-photo {
    vertical-align: middle;
    margin-right: 5px;
    height: 65px;
}

#roster-teams-select-container {
    width: 500px;
    float: right;
    margin-top: 25px;
    margin-right: 50px;
}

#roster-team-label,
#news-team-label {
    font-size: 24px;
    line-height: 100px;
    margin-left: 20px;
}

.ss-main .ss-deselect {
    width: 50px !important;
    border-radius: 15px;
}

.ss-main .ss-deselect:hover {
    background-color: #aaaaaa;
}

.ss-main .ss-deselect svg {
    width: 12px !important;
    height: 12px !important;
}

.ss-main .ss-arrow {
    /* width: 20px !important; */
    /* height: 20px !important; */
    transform: scale(1.4);
    /* object-fit: contain !important; */
}

div#roster-dt_wrapper div.dt-search {
    float: right;
    margin-right: 50px;
}

.roster-team-color-banner,
.player-team-color-banner,
.news-team-color-banner {
    /* height: 50px; */
    background-color: transparent;
    clear: left;
}

table#hitting-stats {
    width: 100% !important;
    table-layout: fixed;
}

table#hitting-stats colgroup col:nth-child(1) {
    width: 150px !important;
    max-width: 150px !important;
}

table#hitting-stats colgroup col {
    width: 80px !important;
    max-width: 80px !important;
    min-width: 80px !important;
}

table#hitting-stats th:nth-child(1),
table#hitting-stats td:nth-child(1) {
    width: 150px !important;
    max-width: 150px !important;
    text-align: left;
}

table#hitting-stats th,
table#hitting-stats td {
    width: 80px !important;
    max-width: 80px !important;
    min-width: 80px !important;
    text-align: left;
}

table#hitting-stats colgroup col:nth-child(2) {
    border-right: 5px solid #e1e8ed;
}

/* pitching charts */
#pitches-pie-chart {
    width: 400px;
    height: 400px;
    background-color: #2c323a;
    float: left;
}

#pitches-pie-chart canvas {
    width: 400px !important;
    height: 400px !important;
}

#pitches-scatter-plot {
    width: 800px;
    height: 400px;
    background-color: #2c323a;
    float: right;
}

#pitches-scatter-plot canvas {
    width: 800px !important;
    height: 400px !important;
}

#era-line-chart {
    width: 800px;
    height: 400px;
    background-color: #2c323a;
    margin-bottom: 40px;
}

#era-line-chart canvas {
    width: 800px !important;
    height: 400px !important;
}

#innings-pitched-bar-chart {
    width: 800px;
    height: 400px;
    background-color: #2c323a;
    /* float: left; */
    margin-bottom: 40px;
}

#innings-pitched-bar-chart canvas {
    width: 800px !important;
    height: 400px !important;
}

/* hitting charts */
#hits-pie-chart {
    width: 600px;
    height: 600px;
    background-color: #2c323a;
    float: left;
}

#hits-pie-chart canvas {
    width: 600px !important;
    height: 600px !important;
}

#hits-scatter-plot {
    width: 600px;
    height: 600px;
    background-color: #2c323a;
    float: left;
}

#hits-scatter-plot canvas {
    width: 600px !important;
    height: 600px !important;
}

/* generic charts */
#active-status-time-plot {
    width: 800px;
    height: 400px;
    background-color: #2c323a;
    margin-bottom: 40px;
    /* float: left; */
}

/* ********** */

#active-status-time-plot canvas {
    width: 800px !important;
    height: 400px !important;
}

#pitching-stats-year-select-container,
#hitting-stats-year-select-container {
    width: 300px;
}

tr.stats-subrow {
    background-color: #2c323a !important;
}

tr.stats-subrow-hidden {
    display: none;
}

table#playerStatsGameLog {
    width: 150px;
    padding: 5px;
}

table#playerStatsGameLog td:nth-child(1) {
    width: 100px;
    max-width: 100px;
    word-break: break-all;
    white-space: pre-line;
}

table#playerStatsGameLog td:nth-child(2) {
    width: 50px;
    max-width: 50px;
    word-break: break-all;
    white-space: pre-line;
}

table.pitches colgroup col:nth-child(1) {
    width: 30px !important;
    max-width: 30px !important;
}

table.pitches th:nth-child(1),
table.pitches td:nth-child(1) {
    width: 30px !important;
    max-width: 30px !important;
}

table.pitches colgroup col:nth-child(2) {
    width: 200px !important;
    max-width: 200px !important;
}

table.pitches th:nth-child(2),
table.pitches td:nth-child(2) {
    width: 200px !important;
    max-width: 200px !important;
}

table#pitching-game-log td img.winner {
    box-shadow: 0 0 8px 2px lightgreen;
    border-radius: 0%;
}

table#pitching-game-log th:nth-child(1),
table#pitching-game-log td:nth-child(1) {
    width: 100px !important;
    max-width: 100px !important;
    text-align: left;
}

table#pitching-game-log th:nth-child(2),
table#pitching-game-log td:nth-child(2) {
    width: 150px !important;
    max-width: 150px !important;
    text-align: left;
}

table#hitting-game-log td img.winner {
    box-shadow: 0 0 8px 2px lightgreen;
    border-radius: 0%;
}

table#hitting-game-log th:nth-child(1),
table#hitting-game-log td:nth-child(1) {
    width: 100px !important;
    max-width: 100px !important;
    text-align: left;
}

table#hitting-game-log th:nth-child(2),
table#hitting-game-log td:nth-child(2) {
    width: 150px !important;
    max-width: 150px !important;
    text-align: left;
}

table#hitting-game-log th:nth-child(3),
table#hitting-game-log td:nth-child(3) {
    width: 200px !important;
    max-width: 200px !important;
    text-align: left;
}

table#hitting-stats-dt colgroup col:nth-child(1),
table#pitching-stats-dt colgroup col:nth-child(1) {
    width: 350px !important;
    max-width: 350px !important;
}

table#hitting-stats-dt colgroup col:not(:nth-child(1)),
table#pitching-stats-dt colgroup col:not(:nth-child(1)) {
    width: 200px !important;
    max-width: 200px !important;
}

tr.dtrg-group.dtrg-start {
    background-color: #1a1a1a !important;
    color: #fff !important;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 0.85rem;
}