

table#boxscore tbody tr:nth-child(2n) {
    background-color: #2c323a;
}

table#boxscore colgroup col:nth-child(1) {
    width: 100px;
    max-width: 100px;
    word-break: break-all;
    white-space: pre-line;
}

table#boxscore colgroup col:nth-child(2) {
    width: 25px;
    max-width: 25px;
    word-break: break-all;
    white-space: pre-line;
}

table#boxscore colgroup col:nth-child(3) {
    width: 75px;
    max-width: 75px;
    word-break: break-all;
    white-space: pre-line;
}

table#boxscore colgroup col:nth-child(4),
table#boxscore colgroup col:nth-child(5),
table#boxscore colgroup col:nth-child(6),
table#boxscore colgroup col:nth-child(7),
table#boxscore colgroup col:nth-child(8),
table#boxscore colgroup col:nth-child(9),
table#boxscore colgroup col:nth-child(10) {
    width: 25px;
    max-width: 25px;
    word-break: break-all;
    white-space: pre-line;
}

table#boxscore colgroup col:nth-child(11),
table#boxscore colgroup col:nth-child(12) {
    width: 35px;
    max-width: 35px;
    word-break: break-all;
    white-space: pre-line;
}

table#pitchers tbody tr:nth-child(2n) {
    background-color: #2c323a;
}

table#pitchers colgroup col:nth-child(1) {
    width: 175px;
    max-width: 175px;
    word-break: break-all;
    white-space: pre-line;
}

table#pitchers colgroup col:nth-child(2) {
    width: 25px;
    max-width: 25px;
    word-break: break-all;
    white-space: pre-line;
}

table#pitchers colgroup col:nth-child(3),
table#pitchers colgroup col:nth-child(4),
table#pitchers colgroup col:nth-child(5),
table#pitchers colgroup col:nth-child(6),
table#pitchers colgroup col:nth-child(7),
table#pitchers colgroup col:nth-child(8),
table#pitchers colgroup col:nth-child(9),
table#pitchers colgroup col:nth-child(10) {
    width: 30px;
    max-width: 30px;
    word-break: break-all;
    white-space: pre-line;
}